@charset "utf-8";

/** 스킵 네비게이션 **/
#skip {position:relative}
#skip a {position:absolute; width:130px; left:0; top:-40px; border:1px solid #fff; color:#fff; background:#333; line-height:30px; text-align:center}
#skip a:active, 
#skip a:focus {top: 0;}

/** 전체 레이아웃 **/
.wrapper {width:100%;}
.container {position:relative; width:1280px; margin:0 auto;}

/** 헤더 **/
#header {}
#header .top-head {height:50px; background-color:#496a53; }
#header .top-head ul.top-menu {float:right; margin-top:15px;}
#header .top-head .top-menu li {float:left; margin-left:20px;}
#header .top-head .top-menu li a {display:block; color:#fff; font-size:12px;}
#header .main-head {height:99px; padding-top:51px; position:relative}
#header .main-head h1 {float:left;}
#header .main-head h1 a {display:block; overflow:hidden; text-indent:-9999px; width:300px; height:47px; background:url(../images/logo.jpg) no-repeat;}
#header .main-head ul.gnb {overflow:hidden; float:left; margin:10px 0 0 40px;}
#header .main-head ul.gnb li {float:left; margin-left:40px; padding-bottom:62px;}
#header .main-head ul.gnb li a {font-size:18px; font-weight:700}
#header .main-head .gnb-sub {display:none; width:100%; padding:20px 0; background-color:#fff; position:absolute; top:150px; border-top:1px solid #eee; z-index:100}
#header .main-head .gnb-sub .gnb-sub-inner {margin-left:360px;}
#header .main-head .gnb-sub .gnb-sub-inner li {float:left; width:106px; text-align:center}
#header .main-head .gnb-sub .gnb-sub-inner li.gnb-sub1 {margin-right:3px}
#header .main-head .gnb-sub .gnb-sub-inner li dl dd {margin-bottom:5px}
#header .main-head .gnb-sub .gnb-sub-inner li dl dd:last-child {margin:0}
#header .main-head .gnb-sub .gnb-sub-inner li a {font-size:14px}
#header .main-head .search-form {position:relative; float:right; margin-top:8px; width:230px; height:33px; border-radius:16px; padding:0 40px 0 20px; background-color:#eee;}
#header .main-head .search-form input {width:100%; border:none; background-color:#eee; height:33px;}
#header .main-head .search-form .search-btn {position:absolute; top:0; right:10px; text-indent:-999px; overflow:hidden; width:33px; height:33px; background:url(../images/icon/search-icon.png) no-repeat;}

/** 콘텐츠 **/
/* 배너 */
#contents .cont-banner {width:100%;}
#contents .cont-banner.on0 {background-color:#e4e4e4}
#contents .cont-banner.on1 {background-color:#dee6d9}
#contents .cont-banner.on2 {background-color:#efefef}
#contents .cont-banner .banner-box {height:500px; position:relative}

#contents .cont-banner .banner-box li {display:none; position:absolute; top:0; left:0}
#contents .cont-banner .banner-box li a {display:block; width:1280px; height:500px; position:relative;}
#contents .cont-banner .banner-box li:nth-child(1) a {background:url(../images/banner1.jpg) no-repeat;}
#contents .cont-banner .banner-box li:nth-child(2) a {background:url(../images/banner2.jpg) no-repeat;}
#contents .cont-banner .banner-box li:nth-child(3) a {background:url(../images/banner3.jpg) no-repeat;}
#contents .cont-banner .banner-box li a span {display:block; position:absolute; left:160px}
#contents .cont-banner .banner-box li a.right-align span {left:auto; right:160px}
#contents .cont-banner .banner-box li a span.main-txt {font-weight:bold; font-size:50px;}
#contents .cont-banner .banner-box li a span.main-txt1 {top:150px}
#contents .cont-banner .banner-box li a span.main-txt2 {top:220px}
#contents .cont-banner .banner-box li a span.sub-txt {font-size:16px; top:300px}
/*롤링버튼*/
#contents .cont-banner .rolling-btn-box {position:absolute; top:450px; left:50%; overflow:hidden}
#contents .cont-banner .rolling-btn-box .rolling-btn {float:left}
#contents .cont-banner .rolling-btn-box .rolling-btn li.roll {float:left; margin-right:5px}
#contents .cont-banner .rolling-btn-box .rolling-btn li.roll a {display:block; text-indent:-999px; overflow:hidden; width: 20px; height: 20px; background:url(../images/icon/icon-set.png) no-repeat; background-position:0 -133px}
#contents .cont-banner .rolling-btn-box .rolling-btn li.roll.on a { background:url(../images/icon/icon-set.png) no-repeat; background-position:0 -112px}
#contents .cont-banner .rolling-btn-box .s-btn {float:left; position:relative; width:20px; height:20px;}
#contents .cont-banner .rolling-btn-box .s-btn li {position:absolute; top:0; left:0}
#contents .cont-banner .rolling-btn-box .s-btn li a {display:block; width:20px; height:20px; text-indent:-9999px; overflow:hidden;}
#contents .cont-banner .rolling-btn-box .s-btn li.stop-btn a { background:url(../images/icon/icon-set.png) no-repeat; background-position:0 -154px}
#contents .cont-banner .rolling-btn-box .s-btn li.start-btn {display:none}
#contents .cont-banner .rolling-btn-box .s-btn li.start-btn a {background:url(../images/icon/icon-set.png) no-repeat; background-position:0 -175px;}
#contents .cont-banner .arrows ul li.arrow {position:absolute; top:222px}
#contents .cont-banner .arrows ul li.arrow-L {left:40px}
#contents .cont-banner .arrows ul li.arrow-R {right:40px}
#contents .cont-banner .arrows ul li.arrow a {text-indent:-999px; overflow:hidden; display:block; width:28px; height:55px;}
#contents .cont-banner .arrows ul li.arrow-L a {background:url(../images/icon/icon-set.png) no-repeat; background-position:0 0;}
#contents .cont-banner .arrows ul li.arrow-R a {background:url(../images/icon/icon-set.png) no-repeat; background-position:0 -56px;}

/* 콘텐츠 공통 레이아웃 */
#contents .cont-box {margin-top:100px; overflow:hidden}
#contents .cont-box h3 {font-size:40px; margin-bottom:20px; font-weight:bold; letter-spacing:-4px}
#contents .cont-box .sub-title {position:absolute; top:27px; left:200px; font-size:15px;}

/* 콘텐츠 공통 레아아웃 - 물품정보 */
#contents .cont-box .pro-info .comment {}
#contents .cont-box .pro-info .name {font-size:18px; font-weight:bold;}
#contents .cont-box .pro-info .price {}
#contents .cont-box .pro-info .price.discount .percent {display:inline; font-weight:bold; margin-right:5px; color:#f52929}
#contents .cont-box .pro-info .price.discount .original {display:inline; text-decoration: line-through; font-size:12px; color:#666; margin-left:5px;}
#contents .cont-box .pro-info .price .original {display:none}
#contents .cont-box .pro-info .price .percent {display:none}
#contents .cont-box .pro-info .price .totoal {}

/* contents 공통 레이아웃 - 버튼*/
/*더보기버튼*/
#contents .cont-box .more-btn {font-size:20px; position:relative; padding-right:15px; display:inline-block}
#contents .cont-box .more-btn:after {content:''; background:url(../images/icon/icon-set.png) no-repeat; width:10px; height:17px; background-position:0 -256px; position:absolute; top:7px; left:58px}

/* MD's PICK */
#contents .cont-box .md-pick {position:relative;}
#contents .cont-box .md-pick .pick {overflow:hidden}
#contents .cont-box .md-pick .pick .hash-tag {position:absolute; top:22px; font-size:18px; text-decoration:underline}
#contents .cont-box .md-pick .pick .hash-tag:hover {color:#6d9479}
#contents .cont-box .md-pick .pick .hash-tag.on {color:#6d9479}
#contents .cont-box .md-pick .pick .hash-tag.tag1 {left:200px;}
#contents .cont-box .md-pick .pick .hash-tag.tag2 {left:320px;}
#contents .cont-box .md-pick .pick .hash-tag.tag3 {left:440px;}
#contents .cont-box .md-pick .pick ul {display:none}
#contents .cont-box .md-pick .pick li {float:left; margin-right:40px;}
#contents .cont-box .md-pick .pick li:last-child {margin-right:0} 
#contents .cont-box .md-pick .pick .pro-info {margin-top:10px}

/* 중간 띠배너 */
#contents .cont-box .banner-bar {margin-top:100px; background-color:#e7fc90}

/* BEST ITEM */
#contents .cont-box .best-item {margin-top:100px; overflow:hidden;}
#contents .cont-box .best-item .best-list li {float:left; position:relative; overflow:hidden;}
#contents .cont-box .best-item .best-list li.top-best {margin-right:40px}
#contents .cont-box .best-item .best-list li:nth-child(2n) {margin-right:40px}
#contents .cont-box .best-item .best-list li:nth-child(2),
#contents .cont-box .best-item .best-list li:nth-child(3) {margin-bottom:40px}
#contents .cont-box .best-item .best-list li a {display:block; width:290px; height:290px;}
#contents .cont-box .best-item .best-list li.top-best a {width:620px; height:620px;}
#contents .cont-box .best-item .best-list li .pro-info {position:absolute; top:290px; left:0; width:256px; height:46px; padding:17px; overflow:hidden; background-color:rgba(0,0,0,.3); transition:all .5s}
#contents .cont-box .best-item .best-list li.top-best .pro-info {width:586px; top:620px;}
#contents .cont-box .best-item .best-list li .pro-info.on {top:210px}
#contents .cont-box .best-item .best-list li.top-best .pro-info.on {top:540px}

/* NEW ITEM */
#contents .cont-box .new-item {margin-top:130px}
#contents .cont-box .new-item .list-arrow {position:absolute; right:10px; top:27px}
#contents .cont-box .new-item .list-arrow li {float:left;}
#contents .cont-box .new-item .list-arrow li.list-arrow-L {margin-right:15px}
#contents .cont-box .new-item .list-arrow li a {text-indent:-9999px; overflow:hidden; display:block; width:12px; height:21px; background:url(../images/icon/icon-set.png) no-repeat;}
#contents .cont-box .new-item .list-arrow li.list-arrow-L a {background-position:0 -274px;}
#contents .cont-box .new-item .list-arrow li.list-arrow-R a {background-position:0 -296px;}
#contents .cont-box .new-item .new-list {position:relative; height:292px; overflow:hidden}
#contents .cont-box .new-item .new-list ul {position:absolute;}
#contents .cont-box .new-item .new-list li {float:left; padding-right:30px}
#contents .cont-box .new-item .new-list li:last-child {padding-right:0}
#contents .cont-box .new-item .new-list li .pro-info {padding-top:14px}
#contents .cont-box .new-item .new-list li a {display:block; width:232px; height:232px}


/* INTERIOR */
#contents .cont-box .interior {margin-top:130px}
#contents .cont-box .interior .interior-article {background:url(../images/interior_bg.jpg) no-repeat; height:700px; overflow:hidden; position:relative}
#contents .cont-box .interior .interior-article .interior-subject {width:380px; height:230px; margin:255px 87px 0 87px; position:relative; float:left; overflow:hidden}
#contents .cont-box .interior .interior-article .interior-subject  .subject-box {position:absolute; left:0}
#contents .cont-box .interior .interior-article .interior-subject .subject-box ul li {float:left; padding-left:83px; width:297px}
#contents .cont-box .interior .interior-article .interior-subject .subject-box ul li .main-subject {font-size:40px; font-weight:bold; letter-spacing: -4px;}
#contents .cont-box .interior .interior-article .interior-subject  .subject-box ul li .sub-subject {font-size:30px; letter-spacing: -4px; line-height: 1.2;}
#contents .cont-box .interior .interior-article .interior-subject .subject-box ul li .more-btn {margin-top:70px}
#contents .cont-box .interior .interior-article .interior_view {float:right; width:726px; height:620px; margin-top:40px; position:relative}
#contents .cont-box .interior .interior-article .interior_view ul  li {position:absolute; top:0; left:0; display:none;}
#contents .cont-box .interior .interior-article .interior_view ul  li:first-child {display:block;}
#contents .cont-box .interior .interior-article .cont-arrows li {position:absolute; top:310px}
#contents .cont-box .interior .interior-article .cont-arrows li.cont-arrow-R {right:813px;}
#contents .cont-box .interior .interior-article .cont-arrows li.cont-arrow-L {left:87px;}
#contents .cont-box .interior .interior-article .cont-arrows li a {text-indent:-9990px; overflow:hidden; width:16px; height:29px; background:url(../images/icon/icon-set.png) no-repeat; display:block}
#contents .cont-box .interior .interior-article .cont-arrows li.cont-arrow-R a {background-position:0 -226px}
#contents .cont-box .interior .interior-article .cont-arrows li.cont-arrow-L a {background-position:0 -196px}

/* NOTICE */
#contents .cont-box .info {margin-top:100px}
#contents .cont-box .info .notice {width:620px; float:left; position:relative}
#contents .cont-box .info .notice .more-btn {position:absolute; top:22px; right:0}
#contents .cont-box .info .notice .notice-table table {font-size:20px}
#contents .cont-box .info .notice .notice-table .notice-title {padding-left:20px; position:relative; width:480px; height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; word-wrap:normal;}
#contents .cont-box .info .notice .notice-table .notice-title:before {content:''; width:8px; height:20px; background-color:#333; display:inline-block; position:absolute; top:6px; left:0}
#contents .cont-box .info .notice .notice-table .notice-date {width:120px; float:right}

/* contact */
#contents .cont-box .info .contact {width:620px; float:right}
#contents .cont-box .info .contact .sns-list {padding-top:25px; overflow:hidden}
#contents .cont-box .info .contact .sns-list li {float:left; margin-right:30px;}
#contents .cont-box .info .contact .sns-list li:last-child {margin-right:0}


/* footer */
#footer {overflow:hidden; margin-top:100px; background-color:#eee; height:230px; padding-top:90px}
#footer .slogo {width:236px; height:30px; text-indent:-9999px; overflow:hidden; background:url(../images/logo2.png) no-repeat; float:left; margin-right:94px;}
#footer .co-info {float:left; font-size:14px}
#footer .co-info .site-name {font-size:20px; margin-bottom:20px;}
#footer .service {float:right; margin-right:86px}
#footer .service .cs-center {font-size:20px; font-weight:bold; color:#496a53}
#footer .service .cs-number {font-size:25px; color:#496a53}
#footer .service .cs-time span {display:block; font-size:14px;}













